@using Microsoft.AspNetCore.Identity
@model UsersShowUserViewModel 
@inject UserManager<ApplicationUser> UserManager

    @{
        var user = await UserManager.GetUserAsync(User); //Hämta användare
        ViewData["Title"] = Model.User.Name; //Flikens namnn (användaren som vi visar)
    }

<div>

    <h1>Broadcast from @Model.User.Name</h1>

    @if (user.Id != Model.User.Id)
    {
        if(Model.IsFollowing)
        {
             <form action="/Users/UnListen" method="post">
            <input type="hidden" name="UserId" value="@Model.User.Id" />
            <input type="submit" value="Unfollow" />
            </form>

        }
        else
        {
            <form action="/Users/Listen" method="post">
            <input type="hidden" name="userId" value="@Model.User.Id" />
            <input type="submit" value="Follow" />


            </form>
        }

            
    }

    @foreach (var broadcast in Model.Broadcasts)
    {
        <p>
            <b>@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString()</b>
            @broadcast.Message
        </p>
    }
</div>